* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Literata', serif;
}

.logo {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
}

.bd-default-color {
  background-color: #e9967a;
}

.main-content {
  width: 100vw;
  height: 80vh;
}

.remove-bottom {
  margin-bottom: -5px
}

.card-min-height {
  min-height: 550px;
}